<script setup>
import { computed } from 'vue'
import { useStore } from 'vuex'

const store = useStore()
const show = computed(() => store.state.modalUserForm)
const action = computed(() => store.state.modalUserAction)
const user = computed(() => store.state.currentUser)

function saveUser() {
  store.dispatch('saveUser', { user: user.value, action: action.value })
}

function close() {
  store.commit('setCurrentUser', {})
  store.commit('setModalUserForm', false)
}
</script>

<template>
  <q-dialog v-model="show" persistent>
    <q-card style="min-width: 350px">
      <q-card-section>
        <div class="text-h6">
          {{
            action === 'add'
              ? 'Добавить пользователя'
              : 'Редактировать пользователя'
          }}
        </div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input label="Телефон" dense v-model="user.phone" autofocus />
        <q-input label="ФИО" dense v-model="user.fio" autofocus />
        <q-input label="Баланс" dense v-model="user.balance" autofocus />
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Отменить" @click="close" />
        <q-btn
          flat
          :label="action === 'add' ? 'Добавить' : 'Изменить'"
          @click="saveUser"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
