<script setup>
import { ref } from 'vue'
import { useStore } from 'vuex'

const store = useStore()
const login = ref('')
const password = ref('')

function submit() {
  const payload = {
    login: login.value,
    password: password.value,
  }
  store.dispatch('login', payload)
}

function reset(params) {
  login.value = ''
  password.value = ''
}
</script>

<template>
  <div class="flex-center">
    <q-card flat bordered class="my-card q-px-xl q-py-lg">
      <q-card-section>
        <div class="text-h6">Введите логин и пароль</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <q-input
          dense
          outlined
          v-model="login"
          label="Логин"
          lazy-rules
          class="q-mb-md"
          :rules="[(val) => (val && val.length > 0) || 'Обязательное поле']"
        />

        <q-input
          dense
          outlined
          v-model="password"
          label="Пароль"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'Обязательное поле']"
        />
      </q-card-section>

      <q-card-section>
        <q-btn label="Войти" color="primary" @click="submit" />
        <q-btn
          label="Очистить"
          color="primary"
          flat
          class="q-ml-sm"
          @click="reset"
        />
      </q-card-section>
    </q-card>
  </div>
</template>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 448px
  border-radius: 16px
</style>
Lorem ip
