<script setup>
import { ref, computed, reactive } from 'vue'
import { useStore } from 'vuex'

const store = useStore()
const columns = [
  { name: 'id', label: 'ID', field: 'id', sortable: true, align: 'center' },
  {
    name: 'phone',
    label: 'Телефон',
    field: 'phone',
    sortable: true,
    align: 'center',
  },
  { name: 'fio', label: 'ФИО', field: 'fio', sortable: true, align: 'left' },
  {
    name: 'balance',
    label: 'Баланс',
    field: 'balance',
    sortable: true,
    align: 'center',
  },
  {
    name: 'status',
    label: 'Статус',
    field: 'status',
    sortable: true,
    align: 'center',
  },
]
const rows = reactive(store.state.users)
const pagination = ref({
  sortBy: 'desc',
  descending: false,
  page: 1,
  rowsPerPage: 3,
})
const pagesNumber = computed(() => {
  return Math.ceil(rows.length / pagination.value.rowsPerPage)
})
const phoneFilter = ref('')
const fioFilter = ref('')
const filter = computed(() => ({
  phoneFilter: phoneFilter.value,
  fioFilter: fioFilter.value,
}))

function filterMethod(rows) {
  let filteredItems = rows
  if (phoneFilter.value && phoneFilter.value.length) {
    filteredItems = filteredItems.filter((row) =>
      row.phone.replace(/\D/g, '').includes(phoneFilter.value)
    )
  }
  if (fioFilter.value && fioFilter.value.length) {
    filteredItems = filteredItems.filter((row) =>
      row.fio.toLowerCase().includes(fioFilter.value)
    )
  }
  return filteredItems
}

function addUser() {
  store.dispatch('addUser')
}

function editUser(userId) {
  store.dispatch('editUser', { userId })
}

function changeUserStatus(value, userId) {
  store.dispatch('changeUserStatus', { userId, value })
}

function clearFilter() {
  phoneFilter.value = ''
  fioFilter.value = ''
}
</script>

<template>
  <div class="user-list q-pa-md">
    <div class="row q-mb-md justify-between items-center">
      <div class="row justify-end items-center">
        <div class="q-mr-md">Фильтры:</div>
        <q-input
          dense
          v-model="phoneFilter"
          placeholder="Телефон"
          class="q-mr-md"
        />
        <q-input dense v-model="fioFilter" placeholder="ФИО" class="q-mr-md" />
        <q-btn
          round
          icon="clear"
          size="sm"
          color="primary"
          @click="clearFilter"
        />
      </div>
    </div>
    <q-table
      class="user-list__table"
      title="Пользователи"
      :rows="rows"
      :columns="columns"
      row-key="id"
      flat
      bordered
      v-model:pagination="pagination"
      :filter="filter"
      :filter-method="filterMethod"
      hide-pagination
    >
      <template v-slot:top-right>
        <q-btn round icon="add" size="sm" color="primary" @click="addUser" />
      </template>
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
            class="header-label"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props" @click="editUser(props.row.id)">
          <q-td key="id" :props="props">
            {{ props.row.id }}
          </q-td>
          <q-td key="phone" :props="props">
            {{ props.row.phone }}
          </q-td>
          <q-td key="fio" :props="props">
            {{ props.row.fio }}
          </q-td>
          <q-td key="balance" :props="props">
            {{ props.row.balance }}
          </q-td>
          <q-td key="status" :props="props">
            <q-toggle
              :class="{ 'q-toggle__state-false': !props.row.status }"
              v-model="props.row.status"
              @update:model-value="changeUserStatus($event, props.row.id)"
            />
          </q-td>
        </q-tr>
      </template>
    </q-table>
    <div class="row q-mt-md">
      <q-pagination
        active-design="unelevated"
        v-model="pagination.page"
        :max="pagesNumber"
        size="md"
      />
    </div>
  </div>
</template>

<style lang="sass">
.user-list
  width: 100%
  margin: 0 auto
  &__table
    width: 750px
    .header-label
      text-transform: uppercase
      font-weight: bold
      color: $grey
</style>
