<script setup>
import { computed } from 'vue'
import { useStore } from 'vuex'
import defaultLayout from './layouts/default.vue'
import emptyLayout from './layouts/empty.vue'

const store = useStore()
const auth = computed(() => store.state.auth)
const layout = computed(() => {
  return auth.value ? defaultLayout : emptyLayout
})
</script>

<template>
  <component :is="layout"></component>
</template>

<style scoped></style>
