body,
#app {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.q-toggle {
  &__inner {
    display: flex;
    align-items: center;
    padding: 0;
  }

  &__track {
    height: 32px;
    width: 54px;
    border-radius: 25px;
    opacity: 1 !important;
  }

  &__thumb {
    top: 8px;
    left: 4px;
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
}

.q-toggle__state-false {
  color: $grey;
}