<script setup>
import userLogin from '../components/userLogin.vue'
</script>

<template>
  <div class="user-login">
    <user-login />
  </div>
</template>

<style lang="sass">
.user-login
  max-width: 1170px
  margin: 0 auto
  padding: 2rem
  text-align: center
</style>
